body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

fieldset {
  margin-right: 150px;
  margin-left: 150px;
}

img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
