body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

fieldset {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-right: 150px;
  margin-left: 150px;
}

#fs1 {
  margin-right: 450px;
  margin-left: 450px;
  background: #00a3cc;
}

legend {
  color: white;
  font-family: "Courier";
}

h4 {
  text-align: center;
  font-family: "Courier"; 
  color: white;
}

p {
  font-family: "Courier"; 
  color: white;
}

.center{
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Courier"; 
}

img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
