body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

fieldset {
  margin-right: 150px;
  margin-left: 150px;
}

#d1 {
  border-radius: 25px;
  background-color: #00cc7a;
  margin-right: 250px;
  margin-left: 250px;
}

h4 {
  text-align: center;
  font-family: "Courier"; 
  color: white;
}

p {
  font-family: "Courier"; 
  color: white;
}

.center{
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Courier"; 
}

img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
