body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

fieldset {
  margin-right: 150px;
  margin-left: 150px;
}

#fs1 {
  margin-right: 50px;
  margin-left: 50px;
}

h4 {
  text-align: center;
}

p {
  font-family: "Courier"; 
}

.center{
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
